body {
    background-color: rgba(203, 117, 224, 0.459);
   
}
h1 {
    text-align: center;
    text-decoration-color: rgba(211, 107, 193, 0.883);
    font-family: sans-serif;
}
h3 {
    text-align: center;
    text-decoration-color: rgba(211, 107, 193, 0.883);
    font-family: sans-serif;
}
div {
    text-align: center;
}
